@import "src/theme/colors";
@import "./login.module.scss";

.root {
  height: 590px;
  width: 50%;
  margin: 50px auto;
}

.root p {
  font-family: 'A Iranian Sans' !important;
}

.root span {
  font-family: 'A Iranian Sans' !important;
}

.inputControl {
  width: 100%;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px;
}

.input {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 100%;

}

.inputLabel {
  margin-bottom: 8px;
  margin-top: 15px;
  font-weight: 700;
  font-size: 14px;
  float: right;
}

.inputLabel > p {
  font-weight: 700;
  font-size: 14px;
}
