@import "src/theme/colors";

.root {
  width: 450px;
  height: 369px;
  border-radius: 8px;
  background-color: #fff;
  margin: auto;
  padding: 32px;
  margin-top: 80px;
}

.phoneRoot {
  @extend .root;
  height: 333px;

}

.titleBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 32px;
}

.title {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  color: $color_secondary;
  margin-right: 16px;
}

.inputControl {
  width: 100%;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px;
}

.input {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
}

.phoneNumberLabel {
  margin-bottom: 8px;
}

.phoneNumberError {
  margin-top: 8px;
  color: #f44336;
  height: 24px;
}

.button {
  border-radius: 10px;
  width: 100%;
  height: 56px;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.successButton {
  @extend .button;
  margin-top: 85px;
}

.verificationControl {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.verificationInput {
  border-width: 0 0 2px 0;
  margin: 5px;
  outline: none;
  background-color: #fff;
}

.verificationInput input {
  font-size: 32px;
  width: 60px;
  text-align: center;

}

.verificationInputBox {
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
}

.verificatoinPhoneLabel {
  color: $color_primary;
}

.changePhone {
  color: $color_secondary;
  border-bottom: 1px dashed $color_secondary;
  width: fit-content;
  margin-bottom: 32px;
  cursor: pointer;
}

.verificationButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.verificationButton {
  width: 50%;
  height: 56px;
  border-radius: 10px;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.verificationResendButton {
  @extend .verificationButton;
  width: 100%;
}

.timer {
  width: 100%;
  color: $color_primary;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 180%;
}

.text {
  font-weight: 600;
  font-size: 17px;
  line-height: 33px;
  color: $color_text_primary;
}
