$color_primary: #6f2cf5;
$color_secondary: #f5b414;

$color_primary_tint_10: #7d41f6;
$color_primary_tint_20: #8c56f7;
$color_primary_tint_30: #9a6bf8;
$color_primary_tint_40: #a980f9;
$color_primary_tint_50: #b796fa;
$color_primary_tint_60: #c5abfb;
$color_primary_tint_70: #d4c0fc;
$color_primary_tint_80: #e2d5fd;
$color_primary_tint_90: #f1eafe;

$color_primary_shade_10: #6428dd;
$color_primary_shade_20: #5923c4;
$color_primary_shade_30: #4e1fac;
$color_primary_shade_40: #431a93;
$color_primary_shade_50: #38167b;
$color_primary_shade_60: #2c1262;
$color_primary_shade_70: #210d49;
$color_primary_shade_80: #160931;
$color_primary_shade_90: #0b0418;

$color_text_primary: #1C1611;
$color_text_blueish: #213262;