@import "src/theme/colors";
@import "src/theme/breakpoints";
.root {
}

.header2 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  color: $color_primary;
  margin: 32px 0 16px 0;
}

.productWrapper {
  justify-content: center;
  padding: 8px;
}

.addCartButton {
  background-color: $color_primary;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-right: 15px;
  grid-column: 2 / 3;
  padding: 25px 10px;
}

.addCartButton:hover {
  background-color: $color_primary_shade_20;
}


.productContent {
  background: white;
  width: 100%;
  height: 350px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.productContent:hover > button {
  background-color: $color_primary;
  color: #FFFFFF;
}

@media (max-width: $sm) {
  .productContent {
    height: 150px;
    flex-direction: row;
    align-items: flex-start;
  }
}

.productImg {
  width: 100%;
  height: 55%;
  object-fit: contain;
  padding-top: 24px;
}

@media (max-width: $sm) {
  .productImg {
    width: 60%;
    height: 100%;
    min-width: 0;
    padding: 12px;
  }
}

.productTags {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.productTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #213262;
  padding: 24px 12px 0;
  align-self: flex-start;
  line-height: 27px;
  //height: 36px;
  display: flex;
  align-items: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: $sm) {
  .productTitle {
    padding-top: 24px;
  }
}

.productPrice {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  color: #322F2F;
  margin-top: 0;
  align-items: center;
  margin-left: 10px;
  margin-right: 12px;
  align-self: flex-end;
}

@media (max-width: $md) {
  .productTitle {
    font-size: 16px;
  }
  .productPrice {
    font-size: 14px;
  }
}

@media (max-width: $sm) {
  .productPrice {
    align-self: flex-start;
  }
}

@media (max-width: $xs) {
  .productTitle {
    font-size: 18px;
  }
  .productPrice {
    font-size: 16px;
  }
}

.productPriceCurrency {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  color: #757575;
  margin: 0;
}

@media (max-width: $md) {
  .productPriceCurrency {
    //font-size: 14px;
  }
}

.productPriceTag {
  margin: 0 4px;
}

.resultButton {
  position: absolute;
  padding: 9px 20px;
  left: 0px;
  bottom: 0px;
  border-radius: 0px 8px;
  -webkit-box-shadow: none ;
  box-shadow: none;
  background-color: $color_primary_tint_90;
  color: $color_primary;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0;
  transition: none;
  height: 40px;
  min-width: 100px;
}

.resultButton:hover {
  background-color: $color_primary;
  color: #FFFFFF;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: $sm) {
  .pagination {
    justify-content: center;
  }
}

.paginationWrapper {
  background: white;
  padding: 16px;
  border-radius: 4px;
}

.productLink {
  text-decoration: none;
}
